* {
  margin: 0;
  padding: 0;
}

/*********************\ 
 * INÍCIO index.html *
\*********************/
.box-logo {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-timing-function: ease-in;
}

.logo {
  opacity: 0;
  animation: fade 10s;
}

/* ANIMAÇÃO */
@keyframes fade {
  10%   { opacity: 0; }
  50%  { opacity: 1; }
  80% { opacity: 0; }
}

/******************\ 
 * FIM index.html *
\******************/

