@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --primary-color: #000;
  --secundary-color: #FFF;
  --error-color: tomato;
}

* {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
}

hr {
  color: gray;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  opacity: .5;
}

select {
  margin-top: 10px;
  padding: 4px;
}

input {
  border: 0;
  border-bottom: 1px solid #666666;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  opacity: .7;
  margin-top: 15px;
}

[placeholder]:focus {
  opacity: 1;
  width: 120%;
}

@keyframes error-shake {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}

.input-error {
  border-color: var(--error-color);
  opacity: 1;
  animation: error-shake 0.1s;
}

button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  letter-spacing: 2px;
}

button:hover {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: slategrey;
  font-weight: bold;
}

a:hover {
  color: steelblue;
}


/*********************\ 
 * INÍCIO index.html *
\*********************/
.box-logo {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-timing-function: ease-in-out;
}

.logo {
  opacity: 0;
  animation: fade-in-out 10s;
}

@keyframes fade-in-out {
  10% { opacity: 0; }
  50% { opacity: 1; }
  90% { opacity: 0; }
}
/******************\ 
 * FIM index.html *
\******************/


/*********************\ 
 * INÍCIO login.html *
\*********************/

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container-img-login {
  width: 55%;
  height: 100%;
  background-image: url('../img/section-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(32%) contrast(90%);
}

.container-login {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form-login input {
  margin-bottom: 10px;
}



/******************\ 
 * FIM login.html *
\******************/


/********************\ 
 * INÍCIO menu *
\********************/

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  opacity: .9;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: var(--secundary-color);
}


nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--secundary-color);
  height: 1px;
}


/* nav.fill ul li a {
  transition: all 2s;
} */

/* nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
} */

nav.fill ul li a:hover {
  color: var(--secundary-color);
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill .1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@keyframes fill {
  to {
    width: 100%;
    height: 1px;
  }

  from {
    width: 0%;
    height: 1px;
  }
}

/************\ 
 * FIM menu *
\************/


/***************\ 
 * INÍCIO rank *
\***************/


.table-rank {
  margin: 50px 50px;
  text-align: center;
}

.table-rank h3 {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 25px;
}


.table-fill {
 background: white;
 border-collapse: collapse;
 height: 320px;
 margin: 10px auto;
 max-width: 50%;
 padding:5px;
 width: 100%;
 box-shadow: 2px 2px 10px #000;
}

.table-fill table {
  border-radius: 10px;
}

th {
 color:#D5DDE5;;
 background:#1b1e24;
 border-bottom:4px solid #9ea7af;
 border-right: 1px solid #343a45;
 font-size: 23px;
 font-weight: 100;
 padding:24px;
 text-align:left;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 vertical-align:middle;
}

th:first-child {
 border-top-left-radius:3px;
}

th:last-child {
 border-top-right-radius:3px;
 border-right:none;
}
 
tr {
 border-top: 1px solid #C1C3D1;
 border-bottom: 1px solid #C1C3D1;
 color:#666B85;
 font-size:16px;
 font-weight:normal;
 text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/* tr:hover td {
 background: #4E5066;
 color:#FFFFFF;
 border-top: 1px solid #22262e;
} */

tr:first-child {
 border-top:none;
}

tr:last-child {
 border-bottom:none;
}

tr:nth-child(odd) td {
 background:#EBEBEB;
}

/* tr:nth-child(odd):hover td {
 background:#4E5066;
} */

tr:last-child td:first-child {
 border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
 border-bottom-right-radius:3px;
}

td {
 background:#FFFFFF;
 padding: 20px;
 text-align: left;
 vertical-align: middle;
 font-weight: 300;
 font-size: 1rem;
 text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
 /* border-right: 1px solid #C1C3D1; */
}

td:last-child {
 border-right: 0px;
}

th.text-left {
 text-align: left;
}

th.text-center {
 text-align: center;
}

th.text-right {
 text-align: right;
}

td.text-left {
 text-align: left;
}

td.text-center {
 text-align: center;
}

td.text-right {
 text-align: right;
}

/************\ 
 * FIM rank *
\************/


.beatles-gif {
  margin: 110px 100px;
  display: flex;
  justify-content: center;
}



/* BIOGRAFIA */

.container-bio {
  display: flex;
}

h1 {
  text-align: center;
  margin: 25px 25px;
}

.lego-container {
  padding: 10px;
  margin-top: 50px;
  margin-right: 25px;
}


.lego-bio {
  margin-top: 50px;
  width: 100%;
  padding: 10px;
}

.lego-bio h2 {
  margin-bottom: 30px;
  text-align: center;
}

/* --------- */

/* Galeria */

.gallery {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

div.gallery-img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.galleryimg:hover {
  border: 1px solid #777;
}

div.gallery-img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* ------- */

/* Contato */

.container-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contato h2 {
  margin: 50px 50px;
}

.container-contato a {
  font-size: 1.5rem;
  margin: 25px 25px;
}

.container-contato img {
  width: 80px;
}

/* ------- */